:root {
  --color-red: #CCC;
  --color-pink: #F98274;
  --color-white: #1C0E42;
  --color-green: #3ACF88;
  --color-darkBlue: #ffffff;
  --color-darkPurple: #6837F3;
  --color-purple: #B14BC4;
  --color-darkGray: #8C93A3;
  --color-semidarkGray: #8C93A3;
  --color-gray: #E8EAEE;
  --color-cream: #f5f7f7;
}
