:root {
    --color-red: #FF3531;
    --color-pink: #F98274;
    --color-white: #ffffff;
    --color-green: #3ACF88;
    --color-darkBlue: #1C0E42;
    --color-darkPurple: #6837F3;
    --color-purple: #B14BC4;
    --color-darkGray: #8C93A3;
    --color-semidarkGray: #f5f7f7;
    --color-gray: #E8EAEE;
    --color-cream: #f5f7f7;
}
